#shape {
    height:300px;
    width: 500px;
    background-color:#90caf9;
    border: 1px solid #0789a9;
    padding:20px;
    margin: 20px auto 0;
  }

html, input {
color: white;
}

#top-left {
    position: absolute; top: -10px; left: -40px; width: 30px;
}

#top-right {
    position: absolute; top: -10px; right: -40px; width: 30px;
}

#bottom-left {
    position: absolute; bottom: -5px; left: -40px; width: 30px;
}

#bottom-right {
    position: absolute; bottom: -5px; right: -40px; width: 30px;
}